<div class="root">
  <div class="navbar" style="display: flex; justify-content: space-between; align-items: center; padding: 1rem;">
    <div class="titulo">
      Trello
    </div>
    <button class="button is-primary">
      Crear Tarea +
    </button>
  </div>

  <div class="tablero">
    <div class="tablas">
        <p class="nombre-tabla">nombre tablero</p>
    </div>

    <div class="distribucion-tabla">
        <div class="columnas">
            <div class="columna">

            </div>
        </div>
    </div>
  </div>
</div>