.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titulo {
  font-size: 28px;
  font-weight: bold;
}

/* Estilo opcional para el botón si no usas Bulma */
.button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.is-primary {
  background-color: #00d1b2;
  color: black;
}

.tablero{

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;

    .tablas{
        background: rgba(gray,  0.5);
        padding: 8px 15px;

        .nombre-tabla{
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }

    .distribucion-tabla{
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .columnas{
            display: flex;
            flex-grow: 1;

            .columna{
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 0;

                min-width: 300px;
                margin: 50px;
                padding: 25px;

                border-radius: 4px;

                background: rgba(gray, 0.5);

                &:not(:first-child){
                   margin-left: 0; 
                }
            }
        }
    }

    
}


